.page3{
    width: 100%;
    height: 700px;

    text-align: center;
    margin-top: 30px;
    .box4{
        margin-top: 50px;
        text-align: start;
        padding-left: 2%;
    .foto4{
        width: 100%;
        height: 430px;
     
        overflow: hidden;
      img{
          width: 100%;
          height:100%;
          &:hover{
              transition: 0.8s;
              transform: scale(1.2,1.2);
        }
      }
      margin-bottom: 20px;
    }
    .linkbox4{
        text-decoration: none;
        font-size: 35px;
        color: black;
       
        &:hover{
            transition: 0.3s;
            color:  #46b04a;
        }
    }
}
}